{% extends '::base.html.twig' %}

{% block body -%}
    <section id="post-index">
        <ul class="list-unstyled">
        {% for entity in entities %}
            <li>
                <h2>
                    <a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.title }}</a>
                    <em class="date">{{ entity.created|date('F d, Y') }}</em>
                </h2>
                <p>{{ entity.body|slice(0, 140) ~ '...' }}</p>
                {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('post_edit', { 'id': entity.id }) }}">Edit</a>{% endif %}
            </li>
        {% endfor %}
        </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <ul class="actions list-unstyled">
            <li>
                <a href="{{ path('post_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    {% endif %}
    </section>
{% endblock %}
